<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695176998694-otcnbf1a0ddtlh4k54aj12esbuvs7h8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695176998694-otcnbf1a0ddtlh4k54aj12esbuvs7h8n</string>
	<key>API_KEY</key>
	<string>AIzaSyBpyjQtTNvIvlIMbXHx-0elLkQUZDcGTGg</string>
	<key>GCM_SENDER_ID</key>
	<string>695176998694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.biletuygulama</string>
	<key>PROJECT_ID</key>
	<string>biletuygulamasi</string>
	<key>STORAGE_BUCKET</key>
	<string>biletuygulamasi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695176998694:ios:2fca96df889c322a8f1be7</string>
</dict>
</plist>